    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    
    body{
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: #ffffff;
    }


    /* productos */
    .productos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #f5f123;
    }

    .productos h1{
        color: white;
    }
    
    .afiche {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 0, 0);
        flex-wrap: wrap;
    }

    .col{
        margin: 25px;
        flex: 1;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px rgb(27, 27, 27);
        background-color: #fff;
      }

    .col img{
        height: 150px;
        width: 150px;
    }

    /* Estilos base del botón */
.boton-amarillo {
    background-color: yellow;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilos cuando se pasa el mouse por encima */
  .boton-amarillo:hover {
    background-color: #ffcc00;
  }
  
  /* Estilos cuando se hace clic */
  .boton-amarillo:active {
    background-color: #ffaa00;
  }
  

  .section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
  }

  .b1{
    width: 200px;
    width: 200px;
    justify-content: center;
  }
  .b2{
    width: 800px;
    width: 400px;
    text-align: center;
  }

  video{
    width: 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
  }